:root{
    --azulescuro: #005073;
    --azulmedio: #107dac;
    --azul: #189ad3;
    --verdeagua: #1ebbd7;
    --azulclaro: #71c7ec;
    --bege: #fff5ee;
    --begeescuro: #faf0e6;
    --cinzaclaro: #dfe3ee;
    --gelo: #f7f7f7; 
}

